node_modules/
npm-debug.log

.dist/
.container/
.dockerignore
.containerignore

.git
.gitignore

.pnpm-store
.pnpm-debug.log

Dockerfile
docker-compose.yml
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.prod.yml
docker-compose.test.yml

Containerfile
Containerfile.debug
Containerfile.prod
Containerfile.test

podman-compose.yml
podman-compose.override.yml
podman-compose.debug.yml
podman-compose.prod.yml
podman-compose.test.yml
